@model PagedList.IPagedList<WarehouseApp.Models.ContentGoodsShippingDocument>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Content goods in shipping document @Html.ActionLink("Create new", "Create", null, null, new { @class = "btn btn-grad" })</h2>

<table class="table table-hover">
    <tr>
        <th>
            Number
        </th>

        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Shipping document number
        </th>
        <th>Function</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idContentGoodsShippingDocument)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Goods.GoodsName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuantityGoods)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShippingDocument.ShippingDocumentNumber)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.idContentGoodsShippingDocument }, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Details", "Details", new { id = item.idContentGoodsShippingDocument }, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new { id = item.idContentGoodsShippingDocument }, new { @class = "btn btn-danger" })
    </td>
</tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<hr />
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))